div#contenido{
	min-height: 600px;
}

div#header a{
	color: grey;
}

div#header div#logo img{
	margin:10px 0 10px 10px;
}

div#header div#opciones-usuario{
	margin-top: 10px;
}

div#header div#buscador{
	margin-top: 17px;
}

div#footer{
	min-height: 150px;
	color:white;
}

div.galeria-imagen{
	height: 100px;
	display:block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.galeria-thumbnail-selected{
	border-color: #4f0;
}

a#galeria-imagen-detalle{
	height: 200px;
	display:block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

a.imagen-perfil-pequena{
	height: 75px;
	width:75px;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

a.imagen-articulo-pequena{
	height: 163px;
	width:163px;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

a#imagen-articulo-pequena{
	height: 125px;
	width:125px;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

a#imagen-usuario-cuenta{
	height: 218px;
	width:100%;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

a#imagen-usuario-publico{
	height: 300px;
	width:100%;
	display:inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

p#imagen-hover-cuenta{
	height: 209px;
	width:99%;
	display:inline-block;
	background-color: rgba(0,0,0,0.65);
	color: white;
	padding-top: 90px;
}

.imagen-articulo{
	height: 300px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.presentacion-square{
	display: block;
	width: 25px;
	height: 25px;
}

.presentacion-square-inline{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-bottom: -1px;
}

.list-group-item.arreglo{
	padding-top: 5px; 
	padding-bottom: 5px; 
	font-size:12px;
}

div.imagen-busqueda{
	height: 250px;
	display:block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.thumbnail-busqueda{
	height: 432px;
}

.thumbnail-busqueda-disenador{
	height: 360px;
}

div.imagen-ult-art{
	height: 170px;
	display:block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.thumbnail-ult-art{
	height: 325px;
}

div#cuenta-tabs div.panel{
	height: 350px;
	overflow-y: scroll; 
}

a.thumbnail-busqueda.destacado, a.thumbnail-busqueda-disenador.destacado{
	border-color: #FFC200;
}

.borde-categoria{
	border-right: solid;
	border-right-width: 1px;
}

.borde-categoria-izq{
	border-left: solid;
	border-left-width: 1px;
}

div.categoria-home{
	height:555px;
	cursor: pointer;
}

div.categoria-home-grande{
	height:555px;
}

.color-fucsia{
	color:#E31082;
}

.thumbnails-home{
	height: 180px;
	width: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 4px;
	line-height: 1.42857143;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#thumbnails-articulo {
    position:relative;
    margin-left:20px;
    width:85%;
    height:120px;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
}

.imagen-thumbnail{
	width:88px; 
	height: 106px;
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.popover-user{
	cursor: pointer;
}