<p>Versión vigente a partir de 03/04/2014</p>


<p>Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los servicios ofrecidos por Nuova Venezuela C.A., RIF J-40336353-6, ("los Servicios") dentro del sitio www.nuovavenezuela.com, ("Nuova Venezuela" o el "sitio"). Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar el sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos, junto con todas las demás políticas y principios que rigen Nuova Venezuela y que son incorporados al presente por referencia.</p>

<p>CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE                       DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.</p>

<p>El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Privacidad, así como en los demás documentos incorporados a los mismos por referencia, previos a su registro como Usuario de Nuova Venezuela.</p>

<h2>01 - Capacidad</h2>
<p>Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad, los menores de edad o Usuarios de Nuova Venezuela que hayan sido suspendidos temporalmente o inhabilitados definitivamente. Si estás registrando un Usuario como Empresa, debes tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en los términos de este Acuerdo.</p>

<h2>02 – Registro de cuentas</h2>
<p>Es obligatorio completar el formulario de registro en todos sus campos con datos válidos para poder utilizar los servicios que brinda Nuova Venezuela. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. Nuova Venezuela podrá utilizar diversos medios para identificar a sus Usuarios, pero Nuova Venezuela NO se responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.</p>
<p>Nuova Venezuela se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja todos los artículos publicados, así como las ofertas realizadas, sin que ello genere algún derecho a resarcimiento.</p>
<p>El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su correo electrónico y clave de seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad.</p>
<p>La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una Cuenta. En caso que Nuova Venezuela detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.</p>

<p>El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a Nuova Venezuela en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta (incluyendo la reputación y calificaciones) bajo ningún título.</p>

<p>Nuova Venezuela se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar una registro previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.</p>

<h2>03 - Modificaciones del Acuerdo</h2>
<p>Nuova Venezuela podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá comunicar por e-mail si no acepta las mismas; en ese caso quedará disuelto el vínculo contractual y será inhabilitado como Usuario siempre que no tenga deudas pendientes. Vencido este plazo, se considerará que el Usuario acepta los nuevos términos y el contrato continuará vinculando a ambas partes.</p>

<h2>04 - Listado de Bienes</h2>
<p>4.1 Publicación de bienes y/o servicios. El Usuario deberá ofrecer a la venta los bienes en las categorías apropiadas. Las publicaciones podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para la venta del bien, siempre que no violen ninguna disposición de este acuerdo o demás políticas de Nuova Venezuela. El producto ofrecido por el Usuario Vendedor debe ser exactamente descrito en cuanto a sus condiciones y características relevantes. Se entiende y presume que mediante la inclusión del bien en Nuova Venezuela, el Usuario acepta que tiene la intención y el derecho de vender el bien por él ofrecido, o está facultado para ello por su titular y lo tiene disponible para su entrega inmediata. Se establece que los precios de los productos publicados deberán ser expresados con IVA incluido cuando corresponda la aplicación del mismo, y en moneda del curso legal. Nuova Venezuela podrá remover cualquier publicación cuyo precio no sea expresado de esta forma para evitar confusiones o malos entendidos en cuanto al precio final del producto. Se deja expresamente establecido que ninguna descripción podrá contener datos personales o de contacto, tales como, y sin limitarse a, números telefónicos, dirección de e-mail, dirección postal, direcciones de páginas de Internet que contengan datos como los mencionados anteriormente. No podrá publicitarse otros medios de pagos, distintos de los enunciados por Nuova Venezuela en la página de publicación de artículos. En caso que se infrinja cualquiera de las disposiciones establecidas en esta cláusula, Nuova Venezuela podrá editar el espacio, solicitar al Usuario que lo edite, o dar de baja la publicación, o publicidad, donde se encuentre la infracción y en ningún caso se devolverán o bonificarán los cargos de publicación, o de la publicidad.</p>

<p>4.2 Inclusión de imágenes y fotografías</p>
<p>El usuario puede incluir imágenes y fotografías del producto ofrecido siempre que las mismas se correspondan con el artículo.</p>

<p>Nuova Venezuela podrá impedir la publicación de la fotografía, e incluso del producto, si interpretara, a su exclusivo criterio, que la imagen no cumple con los presentes Términos y Condiciones. </p>


<h2>05 - Privacidad de la Información</h2>
<p>Para utilizar los Servicios ofrecidos por Nuova Venezuela, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras Políticas de Privacidad.</p>

<h2>06 - Obligaciones de los Usuarios</h2>
<p>6.1 Obligaciones del Comprador. Los usuarios interesados en obtener la prenda o artículo, están obligados a comunicarse con el vendedor/diseñador y completar la operación si han accedido y confirmado la opción ´´comprar´´, salvo que la operación esté prohibida por la ley o los Términos y Condiciones Generales y demás políticas de Nuova Venezuela, en cuyo caso no estará obligado a concretar la operación y deberá por medio de un correo explicar a Nuova Venezuela las razones por las cuales no culmino la operación, de lo contrario se verá afectada su reputación.</p>
<p>Al comprar un artículo, el Usuario acepta quedar obligado por las condiciones de venta incluidas en la descripción del artículo en la medida en que las mismas no infrinjan las leyes o los Términos y Condiciones Generales y demás políticas de Nuova Venezuela. La compra es irrevocable salvo en circunstancias excepcionales, tales como que el vendedor cambie sustancialmente la descripción del artículo después de realizada alguna compra, que exista un claro error tipográfico, o que no pueda verificar la identidad del vendedor.</p>
<p>Impuestos. Tal como lo establece la normativa fiscal vigente, el comprador debe exigir factura o ticket al vendedor como comprobante de la operación. El vendedor no estará obligado a emitir factura o ticket sólo en el caso de tratarse de una persona física que efectúa ventas ocasionalmente.</p>
<p>Para culminar la operación, el comprador deberá calificar al diseñador de acuerdo a su nivel de satisfacción con el mismo, si cumplió con todo lo establecido en el proceso de la compra, de esto dependerá si la reputación del vendedor mejora o empeora.</p>
<p>6.2. Obligaciones del Vendedor. El Usuario Vendedor debe tener capacidad legal para vender el bien objeto de su oferta.</p>
<p>Si el Usuario Vendedor ha recibido un reporte de compra en alguno de sus bienes o artículos publicados, queda obligado a intentar comunicarse con el comprador y completar la operación con el Usuario que haya realizado la compra. Solamente en casos excepcionales, el Vendedor, podrá retractarse de la venta, tales como cuando no haya podido acordar con el Usuario Comprador sobre la forma de pago, de entrega o no sea posible verificar la verdadera identidad o demás información del Comprador, en este caso deberá informar a Nuova Venezuela a través de un correo las razones por las cuales no se culminó la operación, de lo contrario el vendedor se verá afectado en su reputación.</p>
<p>Dado que Nuova Venezuela es un punto de encuentro entre comprador y vendedor y no participa de las operaciones que se realizan entre ellos, el Vendedor será responsable por todas las obligaciones y cargas impositivas que correspondan por la venta de sus artículos, sin que pudiera imputársele a Nuova Venezuela algún tipo de responsabilidad por incumplimientos en tal sentido.</p>
<p>El vendedor, para culminar la operación, deberá calificar a la contraparte de acuerdo al comportamiento y cumplimiento del comprador en todo el proceso de compra, afectando de forma negativa o positiva la reputación del cliente.</p>
<p>Impuestos. Como se menciona anteriormente, Nuova Venezuela sólo pone a disposición de los Usuarios un espacio virtual que les permite comunicarse mediante Internet para encontrar una forma de vender o comprar artículos. Nuova Venezuela no tiene participación alguna en el proceso de negociación y perfeccionamiento del contrato definitivo entre las partes. Por eso, Nuova Venezuela no es responsable por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente.</p>

<h2>07 - Prohibiciones</h2>
<p>Los Usuarios no podrán eliminar prendas únicas o disminuir piezas en el inventario inicial desde la fecha de publicación hasta los 12 días siguientes de la misma. Ésta opción de bloqueo de inventario se repetirá siempre que se ingresen nuevos artículos o se le sumen piezas en el inventario a artículos ya existentes. Luego de transcurridos dichos 12 días los diseñadores podrán eliminar o disminuir piezas en el inventario sin problemas.</p>

<h2>08 - Violaciones del Sistema o Bases de Datos</h2>
<p>No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria de Nuova Venezuela como en las ofertas, descripciones, cuentas o bases de datos de Nuova Venezuela. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.</p>


<h2>09 - Sanciones. Suspensión de operaciones</h2>
<p>Sin perjuicio de otras medidas, Nuova Venezuela podrá advertir, suspender en forma temporal o inhabilitar definitivamente la Cuenta de un Usuario,  publicación o una publicidad,  aplicar una sanción que impacte negativamente en la reputación de un Usuario, iniciar las acciones que estime pertinentes y/o suspender la prestación de sus Servicios si (a) se quebrantara alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas de Nuova Venezuela; (b) si incumpliera sus compromisos como Usuario; (c) si se incurriera a criterio de Nuova Venezuela en conductas o actos dolosos o fraudulentos; (d) no pudiera verificarse la identidad del Usuario o cualquier información proporcionada por el mismo fuere errónea; (e) Nuova Venezuela entendiera que las publicaciones, publicidad u otras acciones pueden ser causa de responsabilidad para el Usuario que las publicó, para Nuova Venezuela o para los Usuarios. En el caso de la suspensión o inhabilitación de un Usuario, todos los artículos, o publicidades, que tuviera publicados serán removidos del sistema y en ningún caso se devolverán o bonificarán los cargos de publicación involucrados.</p>

<h2>10 - Responsabilidad</h2>
<p>Nuova Venezuela sólo pone a disposición de los Usuarios un espacio virtual que les permite ponerse en comunicación mediante Internet para encontrar una forma de vender o comprar bienes. Nuova Venezuela no es el propietario de los artículos, o publicidades, ofrecidos, no tiene posesión de ellos ni los ofrece en venta. Nuova Venezuela no interviene en el perfeccionamiento de las operaciones realizadas entre los Usuarios ni en las condiciones por ellos estipuladas para las mismas, por ello no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los bienes ofrecidos, adquiridos o enajenados por los Usuarios, así como de la capacidad para contratar de los Usuarios o de la veracidad de los Datos Personales por ellos ingresados. Cada Usuario conoce y acepta ser el exclusivo responsable por los artículos que publica para su venta y por las compras que realiza.</p>
<p>Debido a que Nuova Venezuela no tiene ninguna participación durante todo el tiempo en que el artículo se publica para la venta, ni en la posterior negociación y perfeccionamiento del contrato definitivo entre las partes, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo. En ningún caso Nuova Venezuela será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por artículos publicados a través de Nuova Venezuela.</p>
<p>Nuova Venezuela recomienda actuar con prudencia y sentido común al momento de realizar operaciones con otros Usuarios. El Usuario debe tener presentes, además, los riesgos de contratar con menores o con personas que se valgan de una identidad falsa. Nuova Venezuela NO será responsable por la realización de ofertas y/o operaciones con otros Usuarios basadas en la confianza depositada en el sistema o los Servicios brindados por Nuova Venezuela.</p>
<p>En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos o acciones eximen de toda responsabilidad a Nuova Venezuela y a sus directores, gerentes, empleados, agentes, operarios, representantes y apoderados.</p>

<h2>11 - Alcance de los servicios de Nuova Venezuela</h2>
<p>Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre Nuova Venezuela y el Usuario. El Usuario reconoce y acepta que Nuova Venezuela no es parte en ninguna operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los artículos anunciados, la veracidad o exactitud de los anuncios, la capacidad de los Usuarios para vender o comprar artículos. Nuova Venezuela no puede asegurar que un Usuario completará una operación ni podrá verificar la identidad o Datos Personales ingresados por los Usuarios. Nuova Venezuela no garantiza la veracidad de la publicidad de terceros que aparezca en el sitio y no será responsable por la correspondencia o contratos que el Usuario celebre con dichos terceros o con otros Usuarios.</p>

               <h2>12 - Fallas en el sistema</h2>
<p>Nuova Venezuela no se responsabiliza por cualquier daño, perjuicio o pérdida al Usuario causados por fallas en el sistema, en el servidor o en Internet. Nuova Venezuela tampoco será responsable por cualquier virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Usuarios NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. Nuova Venezuela no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a Nuova Venezuela; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. Nuova Venezuela no será responsable por ningún error u omisión contenidos en su sitio web.</p>

<h2>13 - Tarifas. Facturación</h2>
<p>El registro en Nuova Venezuela es gratuito. Al publicar bienes para la venta, el usuario deberá pagar un cargo de publicación y solamente pagará una comisión (de 10%) por venta a Nuova Venezuela cuando la operación se concrete.</p>
<p>El proceso de facturación de Nuova Venezuela se manejará 1 vez al mes por cada usuario en los primeros 4 días de cada mes, se enviará un reporte a cada diseñador de todas las ventas del mes pasado, de acuerdo con el reporte se elaborará la factura, la cual será calculada en base al 10% del total de ventas más IVA, es decir, si sus ventas fueron de 400 Bs. durante el mes, NUOVA le facturará de la siguiente forma:</p>
<p>Bs. 400 x 10% = Bs. 40 por servicio prestado </p>
<p>Bs. 40 x 12% de IVA = Bs. 4,8 </p>
<p>Entonces, el valor total de su factura será por Bs. 44,80 </p>
<p>NOTA: Por ser el IVA un monto casi NULO, el consumidor no percibirá cambio alguno en el precio de los artículos.   </p>
 <p>El Usuario se obliga a abonar a Nuova Venezuela la Tarifa, los cargos por publicación o por cualquier otro servicio prestado por Nuova Venezuela por el cual haya establecida una tarifa vigente.</p>

<p>Nuova Venezuela se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento, lo cual será notificado a los Usuarios, en la forma establecida en la Cláusula 3. Sin embargo, Nuova Venezuela podrá modificar temporalmente la Política de Tarifas y las tarifas por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio.</p>

<p>Nuova Venezuela se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para obtener el pago del monto debido.</p>

<p>En caso de haberse facturado cargos que no hubiesen correspondido, el Usuario deberá comunicarse con nuestro equipo de Atención al Cliente a través de info@nuovavenezuela.com para resolver dicha situación. </p>


14 - Indemnización
El Usuario indemnizará y mantendrá indemne a Nuova Venezuela, sus filiales, empresas controladas y/o controlantes, directivos, administradores, representantes y empleados, por cualquier reclamo o demanda de otros Usuarios o terceros por sus actividades en el Sitio o por su incumplimiento los Términos y Condiciones Generales y demás Políticas que se entienden incorporadas al presente o por la violación de cualesquiera leyes o derechos de terceros, incluyendo los honorarios de abogados en una cantidad razonable.

15 - Jurisdicción y Ley Aplicable
Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Bolivariana de Venezuela.