<span style='color: #000' title='Frames'>    34</span><span style='color: #009' title='Memory'>  19968.00 KB</span><span style='color: #900' title='Time'>    231.80 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />